<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>All About Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="jumbotron text-center">
    <h1>Mars</h1>
    <h4> Tell me all about it..... </h4>
    <p><a class="btn btn-success btn-lg" href="/scrape" role="button">Get Data!</a></p>
  </div>


  <div class="comp_container">
    <div class="row">
      <div class="col-md-8">
        <div class="box">
          <h2 class="box-header text-center">Latest News</h2>
          <h5 text-center>{{mars.news_title}}</h5>
          <p lead>{{mars.news_p}}</p>
          <a href="https://mars.nasa.gov/news/" class="btn btn-success center">Read More News</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <h2 class="box-header text-center">Featured Image</h2>
          <img src="{{ mars.featured_image_url }}" alt="featured image">
        </div>
      </div>
    </div>
  </div>




  <!--{% for dog in dogs %}-->
  


  <div class="comp_container">
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <a href="actors.html" class="text-decoration-none">
                    <img src="" alt="..." class="img-thumbnail float-right">
                    <h3 class="lead text-center"></h3>
                </a>
            </div>
      
              

                <!--{% endfor %}-->



  


</body>

</html>